<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Yahoo Finance Scraper</title>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Yahoo Finance Information Scraper</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/scrape">Scrape Yahoo Finance</a></li>
				<li><a href="/articles">View Saved Articles</a></li>
			</ul>
		</div>
	</nav>

	<img id="bgstock" src="assets/images/alertsbg.jpg">


	{{{ body }}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
</body>

</html>